body {
    background: #f5f7fa;
    color: #1a1a1a;
    font-family: Arial, sans-serif;
}


.carousel-img {
    height: 380px; 
    object-fit: cover;
    border-radius: 8px;
}



.intro-section {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}


.service-card {
    border-radius: 12px;
    transition: 0.3s;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}


.footer {
    background: #0d6efd;      
    color: white;
    text-align: center;
    padding: 35px 0;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-top: 60px;
    box-shadow: 0 -4px 12px rgba(0,0,0,0.15);
}

